@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .content, .footer {
  flex: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  flex: 14;
}

.header {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 8px;
  padding-left: 8px;

}

ul {
  list-style: none;
}

.header .left-links, .header .right-links, .footer .left-links, .footer .right-links {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

a {
  text-decoration: none;
  color: rgb(74, 69, 69);
}
